* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Size img logo */
img.custom-logo {
  max-width: 220px;
}

/* Navbar */
.navbar{
  justify-content: center;
}

/******** MAIN  ********/

.container-main {
  display: flex;
  gap: 1rem;
}

.second-title {
  margin-top: 3rem;
  font-size: 2rem;
}
