* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  height: 150px;
}

/******** MAIN  ********/

.container-main {
  display: flex;
  gap: 1rem;
}

.second-title {
  margin-top: 3rem;
  font-size: 2rem;
}
