	/* settings */

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Whitney', sans-serif;
   	} 
   
   .container{
		max-width: 1000px;
		margin-inline: auto;
		padding: 30px;
   }

	/* First block */

   .big-container{
      background-image:url(../img/jumbo.png);
      height: 700px;
      background-size: cover; 
	}

  .flex-box{
      display: flex;
      justify-content: space-between;
     
  	}
  
  .info{
      font-size: 20px;
      color: white;
  	}
  
  .acces-button{
		border-radius: 22px;
		width: 5.8rem;
		border-color: white;
		border-style: none;
  	}
  
  main{
      text-align: center;
      margin-top: 150px;
      color: white;
  }
  
  .page-info{
     font-size: 2.5rem; 
  }
  
  
  .paragraph{
      /* font-size: 1.5rem;
      display: flex;
	  align-content: center;
	  justify-content: center; */
	  font-size: 1rem;
	  display: flex;
	  align-content: center;
	  justify-content: center;
	  margin-top: 1rem;
	  line-height: 1.5rem;
  }

  .container-button{
		display: flex;
		justify-content: space-evenly;
		margin-top: 20px;
	
  	}

  .mac-button{
		border-radius: 22px;
		width: 10rem;
		height: 3rem;
		font-size: 14px;
		align-items: center;
		border-style: none; 
  	}

  .browser-button{
		border-radius: 22px;
		color: white;
		background-color: black;
		height: 3rem;
		font-size: 14px;
		align-items: center;
		border-style: none;
  	}


	.wrapper{
		display: flex;
		align-items: center;
	}


	.bg-grey{
		background-color: lightgrey;
   	}

	.text-info{
		align-items: center;
		
	}

	.flex-box2{
		display: flex;
		flex-direction: column;
		text-align: center;
	  }
	
	  .flex-box3{
		display: flex;
		justify-content: center;
		
	}
	
	.bottone{
		margin-top: 40px;
		padding: 10px;
		color: white;
		background-color: rgb(78, 117, 235);
		border-color:  rgb(78, 117, 235);
		border-radius: 22px;
		width: 9.8rem;
		border-color: white;
		border-style: none;
	}

	.container-end{
		background-color: rgb(8, 8, 10);
	}
	
	h3{
		color: rgb(78, 117, 235);
		font-size: 2rem;
		position: relative;
		bottom: 10px;
	}
	
	h4{
		color: rgb(78, 117, 235);
		padding-left: 30px;
		font-size: 1.2rem;
		
	}
	
	.flex-box4{
		display: flex;
		justify-content: space-around;
	}
	
	h5{
		color: white;
		padding-left: 30px;
		padding-top: 20px;
	}
	
	.linea{
	   color: white;
		margin-top: 150px;
		height: 100%;
		
	}
	
	.bottone2{
		color: white;
		background-color: rgb(78, 117, 235);
		border-color:  rgb(78, 117, 235);
		border-radius: 2rem;
		
	}
	 

   



